.projectscontainer {
  margin: 0px;
  padding: 50px;
  font-family: "Poppins", sans-serif;
}

.projectsContainer__header h6 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 0px;
}

.projectsContainer__header div {
  width: 40px;
  margin: 25px 0px;
}

.projectsContainer_cards {
  margin: 30px 0px;
}

.project__Cards {
  height: 460px;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.project__Cards img {
  height: 460px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
  cursor: pointer;
  z-index: -2;
}

.project__Content__Overlay {
  height: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 40px auto;
  transition: all 0.6s ease-in-out;
}

.project__Content__Overlay h6 {
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  color: #fff;
  padding: 0px 20px;
  transition: all 0.6s ease-in-out;
}

.project__Content__Overlay p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  color: #fff;
  padding: 0px 20px;
  height: 200px;
  overflow-y: scroll;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.project__btn {
  color: #fff;
  opacity: 0;
  width: max-content;
  transition: all 0.6s ease-in-out;
  font-size: 14px;
  margin: 10px 20px;
  padding: 10px 20px;
}

.project__Content__Overlay:hover {
  background: rgba(0, 0, 0, 0.6);
}

.project__Content__Overlay:hover h6 {
  opacity: 1;
}

.project__Content__Overlay:hover p {
  opacity: 1;
}

.project__Content__Overlay:hover button {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .projectscontainer {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 500px) {
  .projectscontainer {
    padding: 50px 20px;
  }
}
